dataweave-testing/DW-testing-api/src/main/mule/sample-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="148a3b16-78e7-4f6d-abd5-b0280cc906a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-apiFlow" doc:id="2342b26e-4d09-4519-b598-7602d7bb60e4" >
		<http:listener doc:name="Listener" doc:id="50a6bb7c-27cf-4f6b-b880-94d5efcb1799" config-ref="HTTP_Listener_config" path="/dw"/>
		<ee:transform doc:name="Transform Message" doc:id="052d1003-7574-47ae-9f8a-e07f4758db6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var pp=7
output application/json
---
{
	"absolute value1": abs(-3),
	"absolute value2": abs(2.5),
	"absolute value3": abs(-3.7),
	
	
	"average num1": avg([12,13]),
	"average num2": avg([12,13,15]),
	"average num3": avg([12,13,20,24]),
	
	
	"ceil": "round-figure a number UP to nearest wholenumber",
	"ceil num1": ceil(2.1),
	"ceil num2": ceil(2.7),
	"ceil num3": ceil(2.5),
	
	
	"floor": "round-figure a number DOWN to nearest wholenumber",
	"floor num1": floor(2.7),
	"floor num2": floor(2.1),
	"floor num3": floor(2.5),
	
	"round num1": round(1.2),
	"round num2": round(1.8),
	"round num3": round(1.5),
	
	"minimum num1": min([2,10]),
	"minimum num1": min([2.5,5.5,1.5,3.8]),
	
	"max num": max([20,50]),
	"max num": max([20.2,50.5,75.1]),
	
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8dc122e4-c796-4514-a408-dfa4c5d5a623" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="7afac311-745d-45c7-9926-2ad101328c2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"minBy": "iterates over an array of objects to return lowest value",
	"minBy num":[{"a":2},{"a":5},{"a":7}] minBy(item) -> item.a,
	"maxBy": "iterates an aray of highest value",
	"maxBy num": [{"a":3},{"a":5},{"a":1}] maxBy(item) -> item.a,
	
	"isEven num": isEven(1),
	"isEven num": isEven(4),
	"isEven num": isEven(0),
	
	"isOdd num": isOdd(3),
	"isOdd num": isOdd(0),
	"isOdd num": isOdd(6),
	
	"isInteger num": isInteger(2.312),
	"isInteger num": isInteger(5)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2005a93c-83df-4582-955a-58cc4b0d1874" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c0fab938-ac8b-4f5b-aadb-98ba308d62c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var name=""
---
{
	"empname": if(name !=null or name !="") name else "NA",
	"contains": "mulesoft platform" contains "soft",
	"find": "aadsfgaadhfjjfnngdvndj" find "d",
	"find1": "hii this is a software like midddlware used for integration api" find "like",
	"isEmpty": isEmpty("hello"),
	"isEmpty": isEmpty(name),
	"lowercase a string": lower("VAMSI kRISHNA"),
	"UPPERCASE A STRING": upper("venkatesh"),
	"replace": "TulasiKalyaniRouthu" replace "Routhu" with "Ketha" ,
	"splitBy": "Tirumala Vasu Salagala" splitBy (" "),
	"trim": trim("  hii   welcome   to   mulesoft   ")
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="35663b65-fbd3-48dd-9e39-23162a344847" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="2e02d21f-4102-4cf8-9167-f6b9fc9e9c9b" name="sample-apiFlow1"/>
	</flow>
	<flow name="sample-apiFlow1" doc:id="54e9bfb5-2d97-4f8f-b298-e3a6d4936802" >
		<ee:transform doc:name="Transform Message" doc:id="16394175-43a3-4ce1-8159-c40e4c8dbc13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"current" : now(),
	"yesterday": now() - |P1D|,
	"Tommarow": now() + |P1D|,
	"previous month": now() - |P1M|,
	"next month": now() + |P1M|,
	"previous year": now() - |P1Y|,
	"next year": now() + |P1Y|,
	"year": now().year,
	"month": now().month,
	"day": now().day,
	"hour": now().hour,
	"minutes": now().minutes,
	"seconds": now().seconds,
	"milliseconds": now().milliseconds,
	"nanoseconds": now().nanoseconds,
	"time zone": now().timezone,
	"quarter of year": now().quarter,
	"week day": now().dayOfWeek,
	"day of year": now().dayOfYear,
	"current" : now(),
	"formatDate": now() as String {format: "dd-MM-YYYY  HH:mm:ss.SSS"},
	"time": now() as String{format: "HH:mm:ss"},
	"AmericaTime": now() >> "America/Detroit",
	"UK time": now() >> "Europe/London"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bec4e1ac-a19c-463a-8362-5248cc928071" message="#[payload]"/>
	</flow>
</mule>
