git-test/src/main/mule/git-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5047ab8-ef3e-4d55-87d0-2aa5d7f69981" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-testFlow" doc:id="a87bee0e-9011-4931-84d3-c0db4ddf6d9f" >
		<http:listener doc:name="Listener" doc:id="f6a3a2aa-9b1f-407a-bd47-98a314d8b889" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="467b5a79-b213-48fa-b016-ce050961e051" message="Payload #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="89167e26-1a7b-4617-8f62-2d8b1442f1da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"Hello world"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
